.App {
  text-align: center;
}

html,
body {
  background-color: #f0f2fa;
  color: #555f77;
  -webkit-font-smoothing: antialiased;
}

input{
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial",
  sans-serif;
  font-size: 1rem;
  color: #555f77;
}

.register,
.login{
  margin-top: 15vh;
}
